node_modules
.env
.env-dev
**/*.tsbuildinfo
*.env
typechain
artifacts
cache
.vscode/settings.json
scripts/deploys/deployed-args/localhost

# gen files, we want to kewep the folder to avoid extrac checks on code generation ;)
gen/*
!gen/.gitkeep
